@charset "utf-8";

:root {
  --base-color: #ffffff;
  --main-color: #2ebee6;
  --accent-color: #ff9e67;
  --text-color: #333333;
  --base-font-family: "Noto Sans CJK JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", Meiryo, sans-serif;
  /* SNSカラー */
  --sns-twitter: #1d9bf0;
  --sns-facebook: #1877f2;
  --sns-mastodon: #5358f2;
  --sns-hatena: #00a4de;
  --sns-line: #06c755;
  --sns-pocket: #ed4255;
  --sns-instagram: #833ab4;
  --sns-linkedin: #0077b5;
  --sns-github: #333333;
  /* フォントサイズ */
  --font-64px: 4rem;
  --font-24px: 1.5rem;
  --font-18px: 1.125rem;
  --font-16px: 1rem;
  --font-14px: 0.875rem;
  --font-12px: 0.75rem;
}

body {
  font-family: var(--base-font-family);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: All 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

/* Carousel */
.carousel-item {
  /* 画面の高さの30%に設定 */
  height: 40vh;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-caption h2 {
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
  font-size: 1.2rem;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .carousel-item {
    /* モバイルでは画面の高さの20%に設定 */
    height: 20vh;
  }

  .carousel-caption h2 {
    font-size: 1.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

}

/* イントロセクション */
.intro p,
.meeting p,
.recent p,
.content p {
  text-align: justify;
  font-feature-settings: "palt";
  text-justify: inter-character;
  word-break: break-all;
  overflow-wrap: break-word;
  line-height: 1.6;
}

/* ページ見出し */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: var(--base-font-family);
  font-weight: bolder;
  font-size: 1rem;
  font-feature-settings: "palt";
  line-height: 1.6;
}

.content h1 {
  font-size: 2rem;
  margin-top: 2.25rem;
}

.content h2 {
  font-size: 1.625rem;
  margin-top: 2.25rem;
}

.content h3 {
  font-size: 1.375rem;
  margin-top: 2.25rem;
}

.content h4 {
  font-size: 1.25rem;
  margin-top: 2.25rem;
}

.content h5 {
  font-size: 1.125rem;
  margin-top: 2.25rem;
}

.content h6 {
  font-size: 1rem;
  margin-top: 2.25rem;
}

/* ページ内の画像はレスポンシブ */
.content img {
  max-width: 100%;
  height: auto;
}

/* Card Image Aspect Ratio */
.recent .card-img-top {
  object-fit: cover;
  aspect-ratio: 16 / 10;
}

/* Article Title Image Aspect Ratio */
.article-title-image {
  object-fit: cover;
  aspect-ratio: 16 / 10;
}


.footer {
  font-size: var(--font-14px);
}

/* 上に戻るボタン */
#backToTop {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  background-color: var(--main-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: opacity 0.3s;
}

#backToTop.is_active {
  opacity: 0.7;
}
